<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simplex</title>
    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body class="container">
    <div th:each="i: ${simplex.rowsIter()}">
        <table class="table">
            <tr th:each="g: ${i.res}">
                <td th:each="s: ${g}" th:text="${s}"></td>
            </tr>
        </table>
        <p th:text="${i.s}"></p>
    </div>
    <p th:text="${simplex.result}"></p>
</body>
</html>